  <div class="container">
    <!-- Lista de usuários -->
    <div class="card table-responsive my-3 py-3 px-5 shadow">
      <!-- Botões -->
      <div class="d-flex justify-content-between my-4">
        <caption class="">Lista de usuários -  CRUD com Spring + Angular</caption>
        <button class="btn btn-dark"(click)="carregarLista()">Atualizar lista</button>
      </div>

      <!-- Lista -->
      <table class="table table-light table-hover table-striped table-borderless caption-top text-center">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NOME</th>
            <th scope="col">CPF</th>
            <th scope="col">RG</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let usuario of listausuario">
            <th scope="row">{{usuario.idUsuario}}</th>
            <td>{{usuario.nomeUsuario}}</td>
            <td>{{usuario.cpfUsuario}}</td>
            <td>{{usuario.rgUsuario}}</td>
            <td><a class="fw-bolder text-warning" data-bs-toggle="modal" data-bs-target="#editModal" (click)="editar(usuario)"> Editar </a></td>
            <td><a class="fw-bolder text-danger" (click)="excluir(usuario)"> X </a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Atualizar Usuário</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Cadastro -->
          <form class="form py-3 px-5" (ngSubmit)="atualizar()" id="form">

            <div class="mb-3">
            <label for="nomeUsuario" class="form-label">Nome</label>
              <input type="text" class="form-control" id='nomeUsuario' name="nomeUsuario" [(ngModel)]="usuarioData.nomeUsuario" #name="ngModel" placeholder="Insira o nome" required/>
            </div>

            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="cpfUsuario" class="form-label">CPF</label>
                    <input type="text" class="form-control" id='cpfUsuario' name="cpfUsuario" [(ngModel)]="usuarioData.cpfUsuario" #name="ngModel" placeholder="Insira o CPF" size="20" autocomplete="off" mask="000.000.000-00" required />
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                    <label for="rgUsuario" class="form-label">RG</label>
                      <input type="text" class="form-control" id='rgUsuario' name="rgUsuario" [(ngModel)]="usuarioData.rgUsuario" #name="ngModel" placeholder="Insira o RG" size="20" autocomplete="off" mask="00.000.000-0"  required/>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success">Salvar</button>
              </div>

             </div>
          </form>
      </div>
    </div>
  </div>
</div>


